@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind base layer  */
@layer base {
  body {
    @apply tracking-wide;
  }

  h1 {
    @apply text-[3.4rem];
  }

  h2 {
    @apply text-2xl sm:text-3xl lg:text-5xl;
  }

  h3 {
    @apply text-xl md:text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-sm;
  }

  p {
    @apply text-base;
  }
}

.cus-container {
  @apply container mx-auto px-5;
}

.web-btn {
  @apply btn btn-sm md:btn-md bg-primary border border-transparent px-3 py-2 rounded-md text-white hover:border-primary  hover:bg-white hover:text-primary trans;
}
.web-btn2 {
  @apply btn btn-primary btn-sm md:btn-md text-white;
}

.register {
  @apply bg-[url('/images/login-bg.webp')] h-full pt-14 pb-40 w-full bg-cover bg-center bg-no-repeat;
}

.register_top {
  @apply bg-[url('/images/login-img.webp')] h-full sm:h-[300px] pb-10 sm:pb-0 w-full bg-cover bg-center bg-no-repeat;
}

.trans {
  @apply transition-all duration-300;
}

.element-highlight::before {
  content: "";
  display: block;
  height: 100%;
  width: 3px;
  position: absolute;
  top: 0;
  left: -12px;
  @apply bg-primary;
}

.jobDetails_container::-webkit-scrollbar {
  width: 11px;
}

.jobDetails_container::-webkit-scrollbar-track {
  @apply bg-green-100;
}

.jobDetails_container::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full;
}

.jobDetails a {
  @apply text-sky-600;
}

.jobDetails h3 {
  margin: 10px 0 5px 0;
  font-weight: bold;
}

.jobDetails ul {
  @apply list-disc ml-10;
}

.jobDetails p {
  @apply pb-2;
}

.active_menu{
  @apply bg-white text-slate-800 relative;
}

.active_menu::before,
.active_menu::after{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.active_menu::before{
  top: -20px;
  right: 0;
  border-bottom-right-radius: 20px;
  box-shadow: 5px 5px 0 5px white;
}

.active_menu::after{
  bottom: -20px;
  right: 0;
  border-top-right-radius: 20px;
  box-shadow: 5px -5px 0 5px white;
}

.active_menu a .icon{
  @apply relative flex items-center justify-center text-white;
  z-index: 5;
}

.active_menu a .icon::before{
  @apply absolute bg-primary rounded-full;
  content: "";
  width: 40px;
  inset: -9px;
  z-index: -1;
}

