@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Jost', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind base layer  */
@layer base {
  
  h1 {
    @apply text-[3.4rem] leading-[70px];
  }

  h2 {
    @apply text-3xl md:text-5xl;
  }

  h3 {
    @apply text-[1.65rem] leading-[35px] font-semibold;
  }

  h4 {
    @apply text-[1.35rem] leading-[30px] font-semibold;
  }

  h5 {
    @apply text-2xl leading-[70px];
  }

  p {
    @apply text-base;
  }
}

.cus-container {
  @apply container mx-auto px-5
}

